<h3>Users</h3>

<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>画像</td>
      <td>名前</td>
      <td>show</td>
    </tr>
    <% end %>
  </tbody>
</table>