<h1>User info</h1>

<h3>Books</h3>
<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <tbody>
    <% @book.each do |book| %>
    <tr>
      <td><%= image_tag book.user.get_profile_image(100,100) %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>
