<h1>User info</h1>
<% @user.each do |user| %>
  <% if user.image.attached? %>
    <%= image_tag current_user.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>
  <p>name</p>
  <%= current_user.name %>
  <p>introduction</p>
  <%= current_user.introduction %>
 <% end %>