<div>
  <%= flash[:notice] %>
</div>

<h2>welcome to <strong>Bookrs</strong>!!</h2>
<p>In <strong>Bookers</strong>,</p>
<p>you can share and exchange your opinions, inpressions, and emotions<br>about various books!</p>
  <%= link_to 'Log in', new_user_session_path, class: 'btn btn-default' %><br>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-default' %>